<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ site_name }}
    </title>
    <link rel="stylesheet" href="/css/main.css" />
    {# This is a new build of the web fonts. Will need to migrate #}
    <link rel="stylesheet"
      type="text/css"
      href="https://cloud.typography.com/83898/6124412/css/fonts.css" />
    <script>
      document.documentElement.classList.remove("no-js");
      document.documentElement.classList.add("js");
    </script>
  </head>
  <body>
    <div style="display:none;">
      {% include 'includes/icons.twig' %}
    </div>

    <a href="#main" class="sr-only sr-only-focusable">Skip to main content</a>

    {% include 'includes/header.twig' %}

    <main id="main">
      {% block content %}

      {% endblock %}
    </main>

    {% include 'includes/recent-stories.twig' %}

    {% include 'includes/footer.twig' %}

    <script src="/js/bundle.js"></script>
  </body>
</html>
