{% set classes = [
  'block',
  'block--spaced',
  'block--image',
  right ? 'block--right' : left ? 'block--left' : 'block--center ',
  not right and not left and not full ? 'block--wide' : '',
  full ? 'block--full' : ''
] %}

<div class="{{ classes|join(' ') }}">
  <div class="block__content">
    <figure class="block__media">
      {% include 'includes/lazy-img.twig' with {
        image_name: image_name|default('image')
      } %}
      <figcaption class="block__caption">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit
      </figcaption>
    </figure>
  </div>
</div>
