{% set classes = [
  'block',
  'block--spaced',
  'block--wide',
  right ? 'block--right' : left ? 'block--left' : '',
  full ? 'block--full' : ''
] %}

<div class="{{ classes|join(' ') }}">
  <div class="media">
    {% include 'includes/lazy-img.twig' with {
      src: 'http://middleburymagazine.com/files/2020/06/web_MayJune20_edpicks_afterlife.png'
    } %}
    <div class="media__body rich-text">
      <h3>
        Image with text
      </h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid magnam
        ex ab iste asperiores similique numquam ipsum libero, quibusdam nobis
        molestias accusantium quidem dolore nemo pariatur deserunt non! Vero,
        assumenda!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid magnam
        ex ab iste asperiores similique numquam ipsum libero, quibusdam nobis
        molestias accusantium quidem dolore nemo pariatur deserunt non! Vero,
        assumenda!
      </p>
    </div>
  </div>
</div>
