{% set classes = ['block', 'block--spaced', 'block--wide'] %}

<div class="{{ classes|join(' ') }}">
  <div class="media">
    {% include 'includes/lazy-img.twig' with {
      image_name: 'image_text'
    } %}
    <div class="media__body rich-text">
      <h3>
        Image with text
      </h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid magnam
        ex ab iste asperiores similique numquam ipsum libero, quibusdam nobis
        molestias accusantium quidem dolore nemo pariatur deserunt non! Vero,
        assumenda!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid magnam
        ex ab iste asperiores similique numquam ipsum libero, quibusdam nobis
        molestias accusantium quidem dolore nemo pariatur deserunt non! Vero,
        assumenda!
      </p>
    </div>
  </div>
</div>
