<div class="block block--text rich-text">
  {% for i in 0..2 %}
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque magnam
      dolorem quod <a href="">distinctio nisi</a> exercitationem dolores vitae sit
      fugiat quam dolor alias, expedita recusandae tempore laborum sint molestiae
      tempora nesciunt!
    </p>
  {% endfor %}
</div>
