<details class="transcript">
  <summary>
    Transcript{% include 'includes/icon.twig' with {
      name: 'chevron-down'
    } %}
  </summary>

  <div class="rich-text">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, ex
      vero. Non dolorem, quidem minima accusamus sunt illum expedita delectus,
      distinctio, rem animi itaque blanditiis molestias tenetur quibusdam porro
      eligendi.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, ex
      vero. Non dolorem, quidem minima accusamus sunt illum expedita delectus,
      distinctio, rem animi itaque blanditiis molestias tenetur quibusdam porro
      eligendi.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, ex
      vero. Non dolorem, quidem minima accusamus sunt illum expedita delectus,
      distinctio, rem animi itaque blanditiis molestias tenetur quibusdam porro
      eligendi.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, ex
      vero. Non dolorem, quidem minima accusamus sunt illum expedita delectus,
      distinctio, rem animi itaque blanditiis molestias tenetur quibusdam porro
      eligendi.
    </p>
  </div>
</details>
