<div class="block block--spaced block--wide block--video">
  <figure class="block__content">
    {% include 'includes/lazy-video.twig' %}

    <figcaption class="block__caption">
      Reprehenderit voluptatibus eaque praesentium inventore alias natus quam a
      cum qui blanditiis, quasi aperiam nihil asperiores sit animi nemo odio
      minima nam.
    </figcaption>
  </figure>
</div>
