<div class="video js-video">
  <a href="https://player.vimeo.com/video/420511968?autoplay=1"
    class="video__link">
    {% include 'includes/lazy-img.twig' with {
      src: 'http://middleburymagazine.com/files/2020/05/Screen-Shot-2020-05-26-at-11.55.52-AM-880x491.png'
    } %}
    <span class="video__icon">
      {% include 'includes/icon.twig' with {
        name: 'play'
      } %}
    </span>
  </a>
</div>
