{# should be able to use default pager template from core stable theme #}

{% set heading_id = 'pager' %}
<nav class="pager" role="navigation" aria-labelledby="{{ heading_id }}">
  <h4 id="{{ heading_id }}" class="visually-hidden">
    Pagination
  </h4>
  <ul class="pager__items js-pager__items">
    <li class="pager__item pager__item--previous">
      <a href="" rel="prev">
        <span class="visually-hidden">Previous page</span>
        <span aria-hidden="true">Previous</span>
      </a>
    </li>
    <li class="pager__item pager__item--first">
      <a href="" title="">
        <span class="visually-hidden">First page</span>
        <span aria-hidden="true">1</span>
      </a>
    </li>
    <li class="pager__item pager__item--ellipsis" role="presentation">
      &hellip;
    </li>
    {% for key in 2..5 %}
      <li class="pager__item{{ key == 3 ? ' is-active' : '' }}">
        <a href="">{{- key -}}</a>
      </li>
    {% endfor %}
    <li class="pager__item pager__item--ellipsis" role="presentation">
      &hellip;
    </li>
    <li class="pager__item pager__item--last">
      <a href="" title="">
        <span class="visually-hidden">Last page</span>
        <span aria-hidden="true">6</span>
      </a>
    </li>
    <li class="pager__item pager__item--next">
      <a href="" title="" rel="next">
        <span class="visually-hidden">Next page</span>
        <span aria-hidden="true">Next</span>
      </a>
    </li>
  </ul>
</nav>
