<div class="post__meta meta">
  {# tags #}
  <ul class="meta__list">
    {# ensure no new lines between tags otherwise space shows up in dom #}
    {# prettier-ignore #}
    <li class="meta__item"><a href="/term-list.html" class="meta__link">Summer 2020</a></li>
  </ul>
  {# categories #}
  <ul class="meta__list">
    {# prettier-ignore #}
    <li class="meta__item"><a href="/term-grid.html" class="meta__link">Features</a></li>
    {# prettier-ignore #}
    <li class="meta__item"><a href="/term-list.html" class="meta__link">Video</a></li>
  </ul>
</div>
