<div class="quote">
  <div class="quote__header">
    <h3 class="quote__title">
      Quotation
    </h3>
  </div>
  <figure>
    <blockquote class="quote__text">
      <p>
        A summer immersed in a language can do wonders, as veterans of
        Middlebury College’s famous language-learning program can attest. The
        lockdown is clearly going to amount to the equivalent of about two
        summers, and there are mini-Middleburys happening in millions of houses
        worldwide.
      </p>
    </blockquote>

    <figcaption class="quote__cite">
      &mdash;Est aute aliqua <a href="">adipisicing</a> esse dolor esse.
    </figcaption>
  </figure>
</div>
