<section class="side-story block--spaced">
  <div class="container container--sm">
    <h2 class="side-story__title">
      {{ title }}
    </h2>
  </div>

  <div class="blocks">
    {% block content %}

    {% endblock %}
  </div>
</section>
