.blocks {
  > .block:first-child {
    margin-top: 0;
  }

  > .block:last-child {
    margin-bottom: 0;
  }
}

.block {
  @extend .container;

  max-width: $container-width-sm;
  margin-bottom: $space-4;
  margin-top: $space-4;
}

// block vertical gaps

.block--spaced {
  margin-bottom: $space-6;
  margin-top: $space-6;

  @include breakpoint(md) {
    margin-bottom: $space-9;
    margin-top: $space-9;
  }
}

// block alignments

.block--right,
.block--left {
  // flush with other blocks
  margin-top: 0;
  margin-bottom: 0;

  .block__content {
    margin-bottom: $space-4;
  }

  .block__caption {
    padding-left: 0;
    padding-right: 0;
  }
}

.block--right .block__content {
  @include breakpoint(md) {
    float: right;
    max-width: 400px;
    margin-left: $space-4;
  }

  @include breakpoint(lg) {
    margin-right: -220px;
  }
}

.block--left .block__content {
  @include breakpoint(md) {
    float: left;
    max-width: 400px;
    margin-right: $space-4;
  }

  @include breakpoint(lg) {
    margin-left: -220px;
  }
}

// block widths

.block--full {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.block--wide {
  max-width: $container-width-md;
}

// image / caption

.block__media {
  display: table;
}

.block__caption {
  padding-top: $space-2;
  color: $color-navy;
}

.block--image {
  .block__caption {
    display: table-caption;
    caption-side: bottom;
    text-align: left;
  }
}

.block--video {
  .block__caption {
    padding-top: $space-5;
    text-align: center;
  }
}

.block--center {
  text-align: center;

  .block__content {
    display: inline-block;
  }

  .block__caption {
    @extend .container;
    padding-left: 0;
    padding-right: 0;
  }
}
