.meta {
  display: flex;
  margin-bottom: $space-2;
  @include breakpoint(lg) {
    margin-bottom: $space-3;
  }
}

.meta__list {
  display: flex;
  flex-wrap: wrap;

  &:not(:last-child) {
    border-right: 1px solid $black;
    margin-right: $space-2;
    padding-right: $space-2;
  }
}

.meta__item {
  &:not(:last-child) {
    margin-right: $space-1;
    &:after {
      content: ',';
    }
  }
}

.meta__link {
  @include small-caps;
  @include link;
  font-size: $text-1;
  font-weight: $font-bold;
}
