@mixin small-caps {
  text-transform: uppercase;
  font-weight: $font-semibold;
  font-size: $text-sm;
  letter-spacing: $tracking-wide;
}

@mixin breakpoint($breakpoint) {
  @media only screen and(min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
