@mixin small-caps($text-size: $text-2) {
  text-transform: uppercase;
  font-weight: $font-semibold;
  font-size: $text-size;
  letter-spacing: $tracking-wide;
}

@mixin breakpoint($breakpoint) {
  @media only screen and(min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin hover-shift {
  transition: transform 0.2s;
  &:hover {
    transform: translateX($space-2);
  }
}

@mixin heading {
  font-family: $font-serif;
  line-height: $leading-heading;
  font-weight: $font-normal;
}

@mixin h2 {
  @include heading;
  font-size: $text-7;
}

@mixin link {
  color: $color-sky;
  transition: color 0.2s, transform 0.2s;

  &:hover {
    color: $color-navy;
  }
}
