@mixin small-caps($text-size: $text-sm) {
  text-transform: uppercase;
  font-weight: $font-semibold;
  font-size: $text-size;
  letter-spacing: $tracking-wide;
}

@mixin breakpoint($breakpoint) {
  @media only screen and(min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin hover-shift {
  transition: transform 0.2s;
  &:focus,
  &:hover {
    transform: translateX($space-2);
  }
}
