.post {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  // padding-bottom: $space-4;
}

.post__container {
  height: 100%;
  display: flex;
}

.post__media {
  margin-bottom: $space-3;
  flex: 0 0 auto; // fixes ie11 where posts get tall
}

.post__info {
  margin-top: auto;
  font-size: $text-2;
  border-bottom: 1px solid $black;
  padding-bottom: $space-2;

  @include breakpoint(md) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.post__credits {
  margin-bottom: $space-1;
  @include breakpoint(md) {
    margin-bottom: 0;
  }
}

.post__date {
  font-size: $text-2;
  font-weight: $font-normal;
  line-height: $leading-heading;
  letter-spacing: $tracking-wide;
  text-transform: uppercase;

  @include breakpoint(md) {
    text-align: right;
  }
}

.post__overlay {
  @include breakpoint(md) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: $space-8;
    padding-bottom: $space-9;
  }
}

.post__box {
  @include breakpoint(md) {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-template-rows: 1fr 100px 1fr;
    height: 100%;
    align-items: center;
  }
}

.post__item {
}

.post__content {
  border-bottom: 1px solid $black;
}

.post__meta {
  border-top: 1px solid $black;
}

.post__title {
  @include heading;
  color: $color-navy;
  font-size: $text-6;
  margin-bottom: $space-2;
  font-weight: $font-bold;

  @include breakpoint(md) {
    font-size: $text-8;
  }

  .post--sticky & {
    font-weight: $font-normal;
    font-size: $text-8;
    @include breakpoint(md) {
      font-weight: $font-bold;
    }
    @include breakpoint(lg) {
      font-weight: $font-normal;
    }
  }

  .post--sticky &,
  .stories__grid--primary &,
  .stories__grid--secondary & {
    @include breakpoint(lg) {
      font-size: $text-9;
    }
  }

  .stories__grid--primary &,
  .stories__grid--secondary & {
    @include breakpoint(lg) {
      margin-bottom: $space-3;
    }
  }
}

.post__link {
  @include link;
  display: flex;
}

.post__icon {
  font-size: $text-8;
  margin-left: auto;
  padding-left: $space-2;
  display: inline-block;
  margin-bottom: -$space-3;
}

.post__text {
  font-size: $text-3;
  margin-bottom: $space-3;

  @include breakpoint(md) {
    margin-bottom: $space-4;
  }

  @include breakpoint(lg) {
    font-size: $text-4;
  }

  .stories__grid--primary &,
  .stories__grid--secondary & {
    @include breakpoint(lg) {
      margin-bottom: $space-5;
    }
  }
}

.post__continue {
  @include small-caps($text-1);
  @include hover-shift;
  display: block;
  padding-top: $space-1;
  padding-bottom: $space-1;
}

// modifiers

.post--sticky {
  margin-bottom: $space-6;

  @include breakpoint(md) {
    margin-bottom: $space-8;
    height: 100vh;
    height: calc(100vh - var(--header-height));
  }

  @include breakpoint(lg) {
    margin-bottom: $space-9;
  }

  .post__media {
    margin-bottom: $space-3;
    @include breakpoint(md) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

// alignments

$post-box-alignments: (
  top-left: (
    col: 1,
    row: 1
  ),
  bottom-left: (
    col: 1,
    row: 3
  ),
  top-right: (
    col: 3,
    row: 1
  ),
  bottom-right: (
    col: 3,
    row: 3
  )
);

@each $name, $aligns in $post-box-alignments {
  .post--#{$name} .post__item {
    @include breakpoint(md) {
      grid-column: map-get($aligns, 'col');
      grid-row: map-get($aligns, 'row');
    }
  }
}

// post themes

// only change colors at large screen since content overlays background image/video
.post--light {
  @include breakpoint(md) {
    .post__content,
    .post__meta {
      border-color: $white;
    }

    .post__text,
    .meta__link,
    .post__link {
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }
}

.post__share {
  margin-top: $space-3;
  margin-bottom: $space-6;

  @include breakpoint(md) {
    margin-top: $space-4;
    margin-bottom: $space-7;
  }
  @include breakpoint(lg) {
    margin-bottom: $space-8;
  }
}

.post__anchor {
  visibility: hidden;
  position: relative;
  top: -$space-10;
}

.post__media--hero {
  margin-top: $space-7;
  margin-bottom: $space-5;

  @include breakpoint(md) {
    margin-top: $space-9;
    margin-bottom: $space-7;
  }
}

.post__media--full {
  @include breakpoint(md) {
    margin-bottom: $space-7;
  }

  @include breakpoint(lg) {
    height: 100vh; // ie11 fallback
    height: calc(100vh - var(--header-height));
    margin-bottom: $space-8;
    min-height: 30rem;
  }

  img,
  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;'; // for object-fit-images js
  }
}

.page--post {
  .post__title {
    font-size: $text-8;
    font-weight: $font-normal;

    @include breakpoint(md) {
      font-size: $text-10;
    }
  }

  .post__text {
    margin-bottom: $space-5;
    @include breakpoint(md) {
      font-size: $text-5;
      margin-bottom: $space-6;
    }
  }
}

.stories__grid--primary {
}
