.post {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-bottom: $space-4;
}

.post__container {
  height: 100%;
  display: flex;
}

.post__media {
  margin-bottom: $space-3;
  flex: 0 0 auto; // fixes ie11 where posts get tall
}

.post__meta {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: $text-2;
  border-bottom: 1px solid $black;
  padding-bottom: $space-1;
}

.post__date {
  @include small-caps;
  font-size: $text-1;
  font-weight: $font-normal;
}

.post__overlay {
  @include breakpoint(md) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 7rem;
  }
}

.post__box {
  @include breakpoint(md) {
    display: flex;
    height: 100%;
  }
}

.post__item {
  padding-top: $space-2;

  @include breakpoint(md) {
    width: calc(100% / 3);
  }
}

.post__content {
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
}

.post__title {
  margin-bottom: $space-2;
  font-size: $text-6;
  @include heading;
}

.post__link {
  @include link;
  display: flex;
}

.post__icon {
  margin-left: auto;
  padding-left: $space-2;
  display: inline-block;
}

.post__text {
  font-size: $text-2;
  margin-bottom: $space-4;

  @include breakpoint(md) {
    font-size: $text-3;
  }
}

.post__continue {
  @include small-caps;
  @include hover-shift;
  display: block;
  padding-top: $space-1;
  padding-bottom: $space-1;
}

// modifiers

.post--sticky {
  margin-bottom: 12rem;

  @include breakpoint(md) {
    height: 100vh;
    height: calc(100vh - var(--header-height));
  }

  .post__media {
    @include breakpoint(md) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .post__title {
    @include breakpoint(md) {
      font-size: $text-8;
    }
  }
}

// alignments

$post-box-alignments: (
  top-left: (
    items: flex-start,
    justify: flex-start
  ),
  bottom-left: (
    items: flex-end,
    justify: flex-start
  ),
  top-right: (
    items: flex-start,
    justify: flex-end
  ),
  bottom-right: (
    items: flex-end,
    justify: flex-end
  )
);

@each $name, $aligns in $post-box-alignments {
  .post--#{$name} .post__box {
    @include breakpoint(md) {
      align-items: map-get($aligns, 'items');
      justify-content: map-get($aligns, 'justify');
    }
  }
}

// post themes

// only change colors at large screen since content overlays background image/video
.post--light {
  @include breakpoint(md) {
    .post__content {
      border-color: $white;
    }

    .post__text,
    .meta__link,
    .post__link {
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }
}
