.dropcap {
  font-size: 100px;
  line-height: $leading-none;
  color: $color-navy;
  float: left;
  margin-right: $space-3;
}

.intro {
  @include small-caps;
  font-size: $text-3;
  color: $color-navy;
  font-weight: $font-bold;
  font-family: $font-sans;
}
