.stories {
}

.stories__label {
  @include small-caps;
  text-align: center;
  border-top: 2px solid $black;
  line-height: $leading-heading;
  margin-bottom: $space-6;
  padding-top: $space-2;

  @include breakpoint(md) {
    margin-bottom: $space-8;
  }
  @include breakpoint(lg) {
    margin-bottom: $space-9;
  }
}

.stories__section {
  margin-bottom: $space-6;
  display: flex;
  flex-direction: column;

  @include breakpoint(md) {
    margin-bottom: $space-7;
  }
  @include breakpoint(lg) {
    margin-bottom: $space-8;
  }
}

.stories__title {
  margin-bottom: $space-4;

  @include breakpoint(lg) {
    margin-bottom: $space-5;
  }

  a {
    display: block;
    background: $black;
    text-align: center;
    border-top: 2px solid $black;
    @include small-caps;
    line-height: $leading-heading;
    font-size: $text-2;
    color: $white;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding-top: $space-2;
    padding-bottom: $space-2;
    transition: background 0.2s;

    &:focus,
    &:hover {
      color: $black;
      background: none;
    }
  }
}

.stories__grid {
  @include breakpoint(md) {
    display: grid;
  }

  @extend .grid-gap;
}

.stories__grid--primary {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.stories__grid--secondary {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.stories__grid--tertiary {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
