// grid

$grid-columns: 12;

$breakpoints: (
  xs: 0,
  sm: 512px,
  md: 768px,
  lg: 1024px,
  xl: 1440px
);

$grid-gutter-width: 32px;

$grid-gutter-widths: (
  xs: 32px,
  lg: 40px
);

$container-max-widths: (
  lg: 1300px
);

$story-container-max-widths: (
  xs: 640px
);

$story-container-max-widths-md: (
  xs: 865px
);

// colors

$color-navy: #0d395f;
$color-sky: #75a3cd;
$color-tamarillo: #9d1a1e;
$color-ghost-white: #f8fbfd;
$color-keppel: #3aa59f;
$color-buddha-gold: #c09607;
$color-water: #dbecf8;

$white: #fff;
$black: #000;

$gray: #6f6e6e;
$gray-dark: #323232;

// spacing

$space-0: 0;
$space-1: 4px;
$space-2: 8px;
$space-3: 16px;
$space-4: 24px;
$space-5: 32px;
$space-6: 48px;
$space-7: 64px;
$space-8: 96px;

// typography

$font-sans: 'Verlag A', 'Verlag B', verdana, sans-serif;
$font-serif: 'Hoefler Text A', 'Hoefler Text B', georgia, serif;

$text-1: 12px;
$text-2: 14px;
$text-3: 16px;
$text-4: 18px;
$text-5: 20px;
$text-6: 24px;
$text-7: 28px;
$text-8: 32px;
$text-9: 48px;
$text-10: 55px;

$leading-none: 1;
$leading-body: 1.7;
$leading-heading: 1.1;

$tracking-wide: 0.15em;

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// specifics

$header-height: 62px;
