@function rem($px) {
  @return $px / 16 * 1rem;
}

$breakpoints: (
  xs: 0,
  sm: 512px,
  md: 768px,
  lg: 1024px,
  xl: 1440px
);

$grid-gutter-width: 32px;
$grid-gutter-width-lg: 48px; // unused?

$container-width: 1300px;
$container-width-sm: 640px;
$container-width-md: 864px;

// colors

$color-navy: #0d395f;
$color-sky: #487aa8;
$color-tamarillo: #9d1a1e;
$color-ghost-white: #f8fbfd;
$color-keppel: #3aa59f;
$color-buddha-gold: #c09607;
$color-water: #dbecf8;

$white: #fff;
$black: #000;

$gray: #6f6e6e;
$gray-dark: #323232;

// spacing

$space-0: 0;
$space-1: rem(4);
$space-2: rem(8);
$space-3: rem(16);
$space-4: rem(24);
$space-5: rem(32);
$space-6: rem(48);
$space-7: rem(64);
$space-8: rem(96);
$space-9: rem(128);
$space-10: rem(160);
$space-12: rem(196);

// typography

$font-sans: 'Verlag A', 'Verlag B', verdana, sans-serif;
$font-serif: 'Hoefler Text A', 'Hoefler Text B', georgia, serif;

$text-1: rem(12);
$text-2: rem(14);
$text-3: rem(16);
$text-4: rem(18);
$text-5: rem(20);
$text-6: rem(24);
$text-7: rem(28);
$text-8: rem(32);
$text-9: rem(48);
$text-10: rem(56);

$leading-none: 1;
$leading-body: 1.4;
$leading-heading: 1.1;
$leading-lg: 1.7;

$tracking-wide: 0.15em;

$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// specifics

$header-height: 62px;
