// config
@import 'functions';
@import 'variables';
@import 'mixins';

// base
@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/swiper/swiper';
@import 'base';

// objects
@import 'layout';

// components
@import 'icon';
@import 'header';
@import 'footer';
@import 'post';
@import 'dispatches';
@import 'input-group';
@import 'stories';
@import 'quote';

// utils
@import 'screen-reader';

.h2,
.h3,
.h4 {
  font-family: $font-serif;
  line-height: $leading-heading;
  font-weight: $font-normal;
}

.h2 {
  font-size: $text-7;
}
.h3 {
  font-size: $text-6;
}
.h4 {
  font-size: $text-5;
}

.meta {
  display: flex;
  margin-bottom: $space-2;
}
.meta__item {
}
.meta__link {
  @include small-caps;
  @include link;
  font-size: $text-1;
}

.m-0 {
  margin: 0;
}
