// config
@import 'functions';
@import 'variables';

// base
@import '../../node_modules/normalize.css/normalize';
@import 'base';

// objects
@import 'layout';

// components
@import 'header';
@import 'footer';

// utils
@import 'screen-reader';

.icon {
  width: 1em;
  height: 1em;

  svg {
    fill: currentColor;
  }
}
